body, .contact-button button {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 0;
}

header, main, footer {
    width: min(90%, 1300px);
    left: 50%;
    margin: auto;
}

main {
    height: 100%;
    min-height: calc(90vh - 364px);
}

footer {
    padding: 40px 0;
    margin-bottom: 0;
}

.experience, .products, .contact, .privacy-policy, .terms-of-use, .mail, .chat {
    margin: 50px 0;
}

.experience .item-box, .privacy-policy .item-box, .terms-of-use .item-box, .contact .item-box, .mail .item-box, .chat .item-box {
    margin: 45px 0;
}

#experience-main, #contact-main, #privacy-policy-main, #terms-of-use-main, #mail-main {
    width: fit-content;
    max-width: min(600px, 86%);
    min-width: min(400px, 86%);
    margin: auto;
}

.bubble-parent {
    width: 100%;
}

.message-info {
    font-size: 13px;
}

#chat-main {
    width: min(600px, 86%);
    margin: auto;
}

.message-detail {
    border: gray 1px solid;
    width: fit-content;
    height: fit-content;
    max-width: 80%;
    padding: 10px 15px;
    text-align: right;
    font-size: 15px;
    border-radius: 0 25px 25px 25px;
}

.message-detail p {
    margin: 0;
    display: inline-block;
    max-width: 100%;
    height: fit-content;
    overflow-wrap: break-word;
    text-align: left;
}

.message-detail-right {
    background-color: rgb(200, 241, 255);
}

.message-right {
    text-align: right;
    margin-left: auto;
    border-radius: 25px 0 25px 25px;
}

.chat-input {
    width: 80%;
    height: 100px;
    padding: 10px 15px;
    border-radius: 20px;
    border: gray 1px solid;
    resize: none;
    font-size: 16px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.chat-button {
    width: 13%;
    height: 122px;
    border-radius: 20px;
    background-color: darkblue;
    color: white;
    vertical-align: top;
    border: gray 1px solid;
    font-size: 15px;
}

.chat-button-close, .chat-button-open {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    margin-top: 10px;
    border: gray 1px solid;
}

.chat-button-close::after, .chat-button-open::after {
    margin-left: 10px;
    letter-spacing: 5px;
}

.chat-button-close::after {
    content: "ルームを閉じる";
}

.chat-button-open::after {
    content: "ルームを再度開く";
}

.send-div {
    display: inline-block;
}

.products .item-box {
    margin: 60px 0;
}

.products .item-box .image {
    height: 200px;
}

a img {
    transition: 0.3s;
}

a img:hover {
    opacity: 0.8;
    transition: 0.3s;
}

.br {
    margin-top: 5px;
}

#products-main {
    width: min(600px, 86%);
}

.products .skills {
    margin: 20px 0;
    font-size: 13px;
}

.products .skills .skill-item img {
    width: 48px;
    height: 48px;
}

.products .skills .skill-item .technology {
    object-fit: cover;
    border-radius: 23%;
}

.products .skills .skill-item .infrastracture {
    object-fit: contain;
}

#fill-image-parent {
    animation-name: fillImageParent;
    animation-duration: 3s;
}

#fill-image {
    position: absolute;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 300;
    animation-name: fillImage;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.text p {
    margin: 10px 0;
}

#profile {
    display: flex;
    width: 100%;
    height: fit-content;
}

#detail {
    height: fit-content;
    margin: auto 0;
}

.detail-table .icon {
    text-align: center;
}

#profile #icon {
    width: min(300px, 90vw);
    height: min(300px, 90vw);
    display: block;
    border-radius: 30%;
    margin: auto 30px auto 0;
}

.prof-about {
    height: 100%;
    width: fit-content;
    margin: auto 30px auto 0;
}

.fade-in-bottom05 {
    opacity: 0;
    animation-name: fadeInBottom;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.prof-about .description {
    width: fit-content;
    text-align: left;
    animation-delay: 2.0s;
}

.prof-about .introduce {
    animation-delay: 2.2s;
}

#profile #name, .title {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    margin: 0;
    width: fit-content;
}

#name, .title {
    animation-name: fadeInLeft;
    opacity: 0;
    animation-duration: 0.5s;
    animation-delay: 1.8s;
    animation-fill-mode: forwards;
}

.title, .description {
    text-align: center;
    width: 100%;
    animation-delay: 0s;
}

#profile #name {
    font-size: 47px;
    top: 100%;
}

.section {
    margin: 100px 0 0 0;
}

.title {
    font-size: 40px;
    margin: 0;
}

.prof-about .description {
    animation-delay: 2s;
}

.description {
    animation-delay: 0.2s;
}

.description, .event {
    font-weight: 400;
    margin: 5px 0;
    color: gray;
}

.icon-text {
    display: inline-block;
}

.item-box .date, .item-box .event, .item-box .prize, .item-box .number {
    font-size: 12px;
    margin: 5px 0;
}

.item-box .image {
    width: 100%;
    height: 125px;
    overflow: hidden;
    position: relative;
    margin: 10px 0;
}

.item-box .image img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.break-span span, .br span {
    display: inline-block;
    max-width: 100%;
}

.item-box .detail {
    font-size: 20px;
    margin: 5px 0;
}

.item-box .detail-text {
    margin: 10px 0;
    color: gray;
    font-size: 13px;
    line-height: 25px;
}

.large {
    font-size: 16px;
}

.item-box .detail-text .black {
    color: black;
}

.item-box .detail-text .red {
    color: red;
}

.item-box .detail-text .blue {
    color: darkblue;
}

.item-box .detail-text .gray {
    color: gray;
}

.item-box .detail-text mark {
    background: linear-gradient(transparent 40%, yellow 80%);
}

.item-box .detail-text .center {
    width: 100%;
    text-align: center;
}

.item-box .detail-text img {
    max-height: 300px;
    width: 100%;
    object-fit: contain;
    margin: 20px 0;
    display: block;
}

.item-box .product-detail {
    color: black;
    margin-bottom: 20px;
}

.item-box .link {
    margin: 5px 0;
}

.item-box .link-product {
    margin: 7px 0 0 0;
}

a {
    color: darkblue;
    text-decoration: none;
    transition-duration: 0.2s;
}

a:hover {
    color: gray;
    text-decoration: underline;
    transition-duration: 0.2s;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 25px;
    margin: 25px auto;
}

.readmore {
    text-align: center;
    font-size: 20px;
    margin: 20px 0;
}

.skills {
    width: min(100%, 900px);
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    grid-gap: 20px;
}

.skill-item {
    width: 100%;
    text-align: center;
}

.skill-item img {
    margin: auto;
}

.skill-item p {
    margin: 10px 0;
}

.contact-input {
    width: calc(100% - 20px);
    height: 30px;
    padding: 10px;
    border-radius: 10px;
    border: gray 1px solid;
    margin-top: 10px;
    font-size: 16px;
}

.contact-textarea {
    min-height: 120px;
    resize: vertical;
    font-family: sans-serif;
}

.required {
    color: red;
    margin-left: 5px;
}

.contact-button {
    text-align: center;
}

.contact-button button {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: darkblue;
    color: white;
    font-size: 15px;
    transition-duration: 0.2s;
    margin-bottom: 20px;
}

.contact-button button:hover {
    background-color: gray;
    transition-duration: 0.2s;
    cursor: pointer;
}

footer {
    width: 100%;
    text-align: center;
    background-color: darkblue;
    color: white;
    margin: 0;
}

footer .detail-table {
    width: fit-content;
    margin: 30px auto;
}

footer .copyright, footer .rule {
    text-align: center;
}

footer a {
    color: white;
}

footer .description {
    color: lightgray;
}

footer #rule {
    width: 100%;
    margin-bottom: 10px;
}

footer #rule p {
    display: inline-block;
    width: fit-content;
    margin: 0 5px;
    font-size: 13px;
}

footer .text {
    text-align: left;
}

.detail-table .text p {
    margin: 5px 0;
    padding-left: 10px;
}

.animation-wait {
    animation: none;
    opacity: 0;
}

.dark {
    display: none;
}

.privacy-policy-link {
    font-size: 13px;
}

.error-log {
    background-color: rgb(255, 220, 220);
    padding: 20px;
    margin: 20px;
}

.error-log .detail-text {
    color: red;
}

textarea {
    letter-spacing: 2px;
    line-height: 25px;
}

@keyframes fadeInLeft {
    0% {
        transform: translateX(-30px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeInBottom {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fillImage {
    0%, 30% {
        width: 100%;
        height: 100%;
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 300;
        opacity: 1;
    }
    70%, 100% {
        opacity: 0;
        z-index: -1;
        display: none;
    }
}

@keyframes fillImageParent {
    0%, 69% {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        z-index: 300;
        top: 0;
    }
    70%, 100% {
        width: 0;
        height: 0;
        display: none;
    }
}


@media (prefers-color-scheme: dark) {
    body {
        background-color: #202124;
        color: white;
    }

    img {
        filter: brightness(80%);
    }

    a {
        color: lightskyblue;
    }

    a:hover {
        color: gray;
    }

    footer, .contact-button button, .chat-button {
        background-color: rgb(0, 0, 80);
    }

    .description, .event, .item-box .detail-text {
        color: lightgray;
    }

    footer a {
        color: white;
    }

    .item-box .detail-text .black {
        color: white;
    }

    .dark {
        display: block;
    }

    .light {
        display: none;
    }

    .item-box .detail-text .blue {
        color: lightskyblue;
    }

    .item-box .detail-text .gray {
        color: lightgray;
    }

    .item-box .detail-text mark {
        background: linear-gradient(transparent 40%, rgb(130, 130, 0) 80%);
        color: white;
    }

    .error-log {
        background-color: rgb(135, 100, 100);
    }

    .message-detail-right {
        background-color: rgb(0, 0, 80);
    }
}


@media screen and (max-width: 912px) {

    header, main, footer {
        width: 86%;
        font-size: 13px;
        letter-spacing: 2px;
    }

    main {
        margin: 7%;
    }

    footer {
        padding: 40px 7%;
    }

    #profile {
        display: block;
    }

    .title, .description {
        text-align: left;
    }

    .grid {
        display: block;
    }

    .item-box {
        margin: 30px 0;
    }

    .section {
        margin: 50px 0 0 0;
    }

    .products .item-box .image {
        height: 125px;
    }

    #profile #icon {
        width: auto;
        height: min(300px, 90vw);
        border-radius: 30%;
        overflow: hidden;
        position: relative;
        left: 50%;
        margin: 10% 0;
        transform: translateX(-50%);
    }
    
    .detail-table {
        width: 100%;
        margin: 20px 0;
    }

    .detail-table .icon {
        text-align: center;
        margin: 10px 0;
    }

    .readmore {
        margin: 20px 0;
        font-size: 15px;
    }

    footer .detail-table {
        width: fit-content;
        margin: 30px 20px;
    }

    .chat-input {
        width: 90%;
    }
    
    .chat-button {
        width: 100%;
        height: 50px;
        border-radius: 25px;
        margin-top: 10px;
    }

    .chat-button::after {
        margin-left: 10px;
        letter-spacing: 5px;
        content: "送信";
    }
    
    .send-div {
        display: block;
    }
}
