{% extends "somando/layout.html" %}
{% load static %}
{% block title %}400 Bad Request{{ block.super }}{% endblock title %}
{% block content %}
{% autoescape off %}
<main>
    <div id="product" class="section">
        <h1 class="title" style="font-size: 100px">400</h1>
        <h2 class="title" style="font-size: 35px">Bad Request</h2>
        <p class="description fade-in-bottom05 break-span" style="margin-top: 50px"><span>送信されたリクエストが</span><span>何らかの原因で</span><span>処理を完了できませんでした。</span></p>
        <p class="description fade-in-bottom05 break-span" style="margin-top: 20px"><span>画面下部メニューまたは</span><span>URLをご確認ください。</span></p>
    </div>
</main>
<script src="{% static "somando/fadein.js" %}"></script>
<script>
    delay_set("product-div", 0.6, 0.2);
</script>
{% endautoescape %}
{% endblock content %}