{% extends "somando/layout.html" %}
{% load static %}
{% block title %}404 Page Not Found{{ block.super }}{% endblock title %}
{% block content %}
{% autoescape off %}
<main style="">
    <div id="product" class="section">
        <h1 class="title" style="font-size: 100px">404</h1>
        <h2 class="title" style="font-size: 35px">Page Not Found</h2>
        <p class="description fade-in-bottom05 break-span" style="margin-top: 50px"><span>お探しのページが</span><span>見つかりませんでした。</span></p>
        <p class="description fade-in-bottom05 break-span" style="margin-top: 20px"><span>画面下部メニューまたは</span><span>URLをご確認ください。</span></p>
    </div>
</main>
<script src="{% static "somando/fadein.js" %}"></script>
<script>
    delay_set("product-div", 0.6, 0.2);
</script>
{% endautoescape %}
{% endblock content %}