{% extends "somando/layout.html" %}
{% load static %}
{% block title %}Experiences{{ block.super }}{% endblock title %}
{% block meta %}
    <meta type="og:type" content="website">
    <meta type="og:title" content="Experiences｜Soma Ando's Portfolio">
    <meta type="og:url" content="{{ url }}{% url 'somando:experiences' %}">
    <meta type="og:description" content="今までに経歴をまとめています。">
    <meta type="og:image" content="{{ static_profile.icon }}">
{% endblock meta %}
{% block content %}
{% autoescape off %}
<main id="experience-main">
    <div id="experience" class="section">
        <h2 class="title animation-wait">Experiences</h2>
        <p class="description fade-in-bottom05 animation-wait">経歴</p>
        <div class="experience">
            {% for experience in experiences %}
                <div class="item-box fade-in-bottom05 experience-div animation-wait">
                    <p class="date">{{ experience.date }}</p>
                    <p class="detail break-span"><span>{{ experience.title }}</span></p>
                    {% if experience.detail %}
                        <p class="detail-text break-span"><span>{{ experience.detail }}</span></p>
                    {% endif %}
                    {% if experience.link_url %}
                        <p class="link"><a href="{{ experience.link_url }}" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-globe"></i> {{ experience.link_title }}</a> <i class="fa-regular fa-clone"></i></p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</main>
<script src="{% static "somando/fadein.js" %}"></script>
<script>
    delay_set("experience-div", 0.6, 0.2);
</script>
{% endautoescape %}
{% endblock content %}