{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}｜Soma Ando's Portfolio{% endblock title %}</title>
    <meta type="og:title" content="{% block title %}｜Soma Ando's Portfolio{% endblock title %}">
    <meta type="og:site_name" content="Soma Ando's Portfolio">
    {% block meta %}{% endblock meta %}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@somando27" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "somando/styles.css" %}">
    <link rel="icon" href="{% static "somando/favicon.ico" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/releases/v6.5.1/js/all.js" data-auto-replace-svg="nest"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1YP209H4S4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-1YP209H4S4');
    </script>
</head>
<body>
    {% block content %}{% endblock content %}
    <footer class="section">
        <h2 class="title animation-wait">Menu</h2>
        <p class="description fade-in-bottom05 animation-wait">メニュー</p>
        <table class="detail-table">
            <tr class="fade-in-bottom05 menu-line animation-wait">
                <td class="icon"><i class="fa-solid fa-house"></i></td>
                <td class="text"><p><a href="{{ url }}{% url 'somando:top' %}">トップページ</a></p></td>
            </tr>
            <tr class="fade-in-bottom05 menu-line animation-wait">
                <td class="icon"><i class="fa-solid fa-clock-rotate-left"></i></td>
                <td class="text"><p><a href="{{ url }}{% url "somando:experiences" %}">経歴</a></p></td>
            </tr>
            <tr class="fade-in-bottom05 menu-line animation-wait">
                <td class="icon"><i class="fa-regular fa-folder-open"></i></td>
                <td class="text"><p><a href="{{ url }}{% url "somando:products" %}">制作プロダクト</a></p></td>
            </tr>
            <tr class="fade-in-bottom05 menu-line animation-wait">
                <td class="icon"><i class="fa-solid fa-envelope"></i></td>
                <td class="text"><p><a href="{{ url }}{% url "somando:contact" %}">お問い合わせ</a></p></td>
            </tr>
        </table>
        <div id="rule" class="fade-in-bottom05 menu-line animation-wait">
            <p class="rule"><a class="description" href="{{ url }}{% url "somando:terms-of-use" %}">利用規約</a></p>
            <p class="rule"><a class="description" href="{{ url }}{% url "somando:privacy-policy" %}">プライバシーポリシー</a></p>
        </div>
        <p class="description break-span copyright fade-in-bottom05 menu-line animation-wait"><span>©︎{% if year > 2024 %}2024-{% endif %}{{ year }} Soma Ando.</span> <span>All Right Reserved.</span></p>
    </footer>
    <script>
        delay_set("menu-line", 0.5, 0.05);
    </script>
</body>
</html>
