{% extends "somando/layout.html" %}
{% load static %}
{% block title %}Privacy Policy{{ block.super }}{% endblock title %}
{% block meta %}
    <meta type="og:type" content="website">
    <meta type="og:title" content="Privacy Policy｜Soma Ando's Portfolio">
    <meta type="og:url" content="{{ url }}{% url 'somando:privacy-policy' %}">
    <meta type="og:description" content="当サイトではプライバシーポリシーを公開しております。">
    <meta type="og:image" content="{{ static_profile.icon }}">
{% endblock meta %}
{% block content %}
{% autoescape off %}
<main id="privacy-policy-main">
    <div id="privacy-policy" class="section">
        <h2 class="title animation-wait">Privacy Policy</h2>
        <p class="description fade-in-bottom05 animation-wait">個人情報保護方針</p>
        <div class="privacy-policy">
            <div class="item-box fade-in-bottom05 privacy-policy-div animation-wait">
                <p class="detail break-span"><span>個人情報保護方針</span></p>
                <p class="detail-text break-span"><span>閲覧者の</span><span>個人情報について</span><span>以下の通り</span><span>プライバシーポリシーを</span><span>定めます。</span></p>
                <p class="detail-text break-span"><span>当ポリシーは、</span><span>運営者が</span><span>どのような</span><span>個人情報を</span><span>取得し、</span><span>どのように利用・</span><span>共有するか、</span><span>閲覧者が</span><span>どのように</span><span>ご自身の</span><span>個人情報を</span><span>管理できるかを</span><span>ご説明するものです。</span></p>
            </div>
            <div class="item-box fade-in-bottom05 privacy-policy-div animation-wait">
                <p class="number">1</p>
                <p class="detail break-span"><span>個人情報の</span><span>取得方法</span></p>
                <p class="detail-text break-span"><span>当サイトは</span><span>閲覧者が</span><span>問い合わせを</span><span>するとき、</span><span>名前・</span><span>メールアドレスなどの</span><span>個人を</span><span>特定できる</span><span>情報を</span><span>取得させて</span><span>いただきます。</span></p>
            </div>
            <div class="item-box fade-in-bottom05 privacy-policy-div animation-wait">
                <p class="number">2</p>
                <p class="detail break-span"><span>個人情報の</span><span>利用目的</span></p>
                <p class="detail-text break-span"><span>当サイトの</span><span>閲覧者への</span><span>適切かつ</span><span>正確な</span><span>対応のために</span><span>利用します。</span></p>
            </div>
            <div class="item-box fade-in-bottom05 privacy-policy-div animation-wait">
                <p class="number">3</p>
                <p class="detail break-span"><span>個人情報の</span><span>第三者提供について</span></p>
                <p class="detail-text break-span"><span>当サイトは</span><span>法令及び</span><span>ガイドラインに</span><span>別段の</span><span>定めが</span><span>ある場合を</span><span>除き、</span><span>同意を</span><span>得ずに</span><span>第三者へ</span><span>個人情報を</span><span>提供することは</span><span>しません。</span></p>
            </div>
            <div class="item-box fade-in-bottom05 privacy-policy-div animation-wait">
                <p class="number">4</p>
                <p class="detail break-span"><span>個人情報</span><span>取扱いに</span><span>関する</span><span>相談や</span><span>苦情の</span><span>連絡先</span></p>
                <p class="detail-text break-span"><span>個人情報取扱いに</span><span>関するご質問や</span><span>ご不明点、</span><span>苦情、</span><span>その他のお問い合わせは</span><span>お問い合わせフォーム及び</span><span>下記メールアドレスより</span><span>ご連絡ください。</span></p>
                <p class="link"><a href="{% url "somando:contact" %}"><i class="fa-solid fa-envelope"></i> お問い合わせ</a></p>
                <p class="link"><a href="mailto:info@somando.jp" target="_blank" rel="noopener noreferrer"><i class="fa-regular fa-envelope"></i> info@somando.jp</a> <i class="fa-regular fa-clone"></i></p>
            </div>
            <div class="item-box fade-in-bottom05 privacy-policy-div animation-wait">
                <p class="number">5</p>
                <p class="detail break-span"><span>SSL</span> <span>(Secure Socket Layer)</span> <span>について</span></p>
                <p class="detail-text break-span"><span>当サイトは</span><span>SSLに</span><span>対応しており、</span><span>閲覧者の</span><span>Webブラウザと</span><span>運営者の</span><span>Webサーバ間の</span><span>通信を</span><span>暗号化しています。</span></p>
            </div>
            <div class="item-box fade-in-bottom05 privacy-policy-div animation-wait">
                <p class="number">6</p>
                <p class="detail break-span"><span>アクセス解析ツール</span><span>について</span></p>
                <p class="detail-text break-span"><span>当サイトでは</span><span>Google社が提供する</span><span>アクセス解析ツール</span><span>「Google Analytics」及び</span><span>「Google Search Console」を</span><span>利用しています。</span></p>
                <p class="detail-text break-span"><span>このサービスは、</span><span>トラフィックデータを</span><span>収集するために</span><span>Cookieを</span><span>使用していますが、</span><span>トラフィックデータは</span><span>匿名で</span><span>収集されているため</span><span>個人を</span><span>特定できるものでは</span><span>ありません。</span></p>
                <p class="detail-text break-span"><span>この規約についての詳細は</span><span>下記リンクを</span><span>ご覧ください。</span></p>
                <p class="link privacy-policy-link"><a href="https://marketingplatform.google.com/about/analytics/terms/jp/" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-info"></i> Google アナリティクス利用規約</a> <i class="fa-regular fa-clone"></i></p>
            </div>
            <div class="item-box fade-in-bottom05 privacy-policy-div animation-wait">
                <p class="number">7</p>
                <p class="detail break-span"><span>プライバシーポリシーの</span><span>制定日</span></p>
                <p class="detail-text break-span"><span>制定：</span><span>2024年4月2日</span></p>
                <p class="detail-text break-span"><span>改正：</span><span>2024年5月3日</span></p>
            </div>
        </div>
    </div>
</main>
<script src="{% static "somando/fadein.js" %}"></script>
<script>
    delay_set("privacy-policy-div", 0.6, 0.2);
</script>
{% endautoescape %}
{% endblock content %}