{% extends "somando/layout.html" %}
{% load static %}
{% block title %}{{ product.title }}{{ block.super }}{% endblock title %}
{% block meta %}
    <meta type="og:type" content="website">
    <meta type="og:title" content="{{ product.title }}｜Soma Ando's Portfolio">
    <meta type="og:url" content="{{ url }}{% url 'somando:product' product.url %}">
    <meta type="og:description" content="{{ description }}">
    <meta type="og:image" content="{{ product.image }}">
{% endblock meta %}
{% block content %}
{% autoescape off %}
<main id="products-main">
    <div id="product" class="section">
        <div class="products">
            <div class="item-box fade-in-bottom05 product-div animation-wait">
                <div class="image"><img src="{{ product.image }}" /></div>
                <p class="detail break-span"><span>{{ product.title }}</span></p>
                <p class="event break-span"><span>{{ product.date }} {{ product.event }}</span>{% if product.team %} / <span>{{ product.team }}</span>{% endif %}</p>
                {% if product.prize %}
                    <p class="prize break-span"><span>{{ product.prize }}</span></p>
                {% endif %}
                {% if product.about %}
                    <p class="detail-text break-span product-detail"><span>{{ product.about }}</span></p>
                {% endif %}
                {% if product.detail %}
                    <p class="detail-text break-span product-detail"><span class='br'><span>{{ product.detail }}</span></span></p>
                {% endif %}
                {% if product.technology %}
                    <p><b class="large">使用技術</b></p>
                    <div class="skills">
                    {% for technology in product.technology %}
                        <div class="skill-item">
                            {% if "https://skillicons.dev/icons" in technology.1 %}
                                <div class="light"><img src="{{ technology.1 }}&theme=light"></div>
                                <div class="dark"><img src="{{ technology.1 }}&theme=dark"></div>
                            {% else %}
                                <img src="{{ technology.1 }}" class="technology">
                            {% endif %}
                            <p>{{ technology.0 }}</p>
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}
                {% if product.infrastracture %}
                    <p><b class="large">インフラストラクチャ</b></p>
                    <div class="skills">
                    {% for infrastracture in product.infrastracture %}
                        <div class="skill-item">
                            <img src="{{ infrastracture.1 }}" class="infrastracture">
                            <p>{{ infrastracture.0 }}</p>
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}
                {% if product.collaborators %}
                    <p><b class="large">共同製作者</b></p>
                    <div class="collaborators">
                    {% for collaborator in product.collaborators %}
                        <div class="collaborator">
                            <p class="collaborator-name detail-text">{{ collaborator.0 }}</p>
                            <p class="collaborator-github"><a href="https://github.com/{{ collaborator.1 }}" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a></p>
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}
                {% if product.github %}
                    <p class="link-product"><a href="{{ product.github }}" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i> GitHub</a> <i class="fa-regular fa-clone"></i></p>
                {% endif %}
                {% if product.link_url %}
                    <p class="link-product"><a href="{{ product.link_url }}" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-globe"></i> {{ product.link_title }}</a> <i class="fa-regular fa-clone"></i></p>
                {% endif %}
            </div>
            <p class="readmore fade-in-bottom05 experience-div animation-wait"><a href="{% url "somando:products" %}">< Back Products</a></p>
        </div>
    </div>
</main>
<script src="{% static "somando/fadein.js" %}"></script>
<script>
    delay_set("product-div", 0, 0.4);
</script>
{% endautoescape %}
{% endblock content %}