{% extends "somando/layout.html" %}
{% load static %}
{% block title %}Soma Ando's Portfolio{% endblock title %}
{% block meta %}
    <meta type="og:type" content="website">
    <meta type="og:title" content="Soma Ando's Portfolio">
    <meta type="og:url" content="{{ url }}{% url 'somando:top' %}">
    <meta type="og:description" content="高等専門学校に在学している安戸蒼真のポートフォリオサイトです。ハッカソンにもよく参加しています。">
    <meta type="og:image" content="{{ static_profile.icon }}">
{% endblock meta %}
{% block content %}
{% autoescape off %}
    <div id="fill-image-parent"><img id="fill-image" src="{{ static_profile.display_image }}" /></div>
    <header>
        <div id="profile" class="section">
            <img id="icon" src="{{ static_profile.icon }}" />
            <div class="prof-about">
                <h1 id="name">{{ static_profile.name_en }}</h1>
                <p class="description fade-in-bottom05">{{ static_profile.name_ja }} / {{ static_profile.nickname }}</p>
                <p class="break-span introduce fade-in-bottom05"><span>{{ static_profile.description }}</span></p>
            </div>
            <div id="detail">
                <table class="detail-table">
                    {% for profile in profiles %}
                        <tr class="fade-in-bottom05 profile-line">
                            <td class="icon">{{ profile.fontawesome }}</td>
                            {% if not profile.url %}
                                <td class="text"><p class="break-span"><span>{{ profile.detail }}</span></p></td>
                            {% else %}
                                <td class="text"><p class="break-span"><a href="{{ profile.url }}" target="_blank" rel="noopener noreferrer"><span>{{ profile.detail }}</span></a> <i class="fa-regular fa-clone"></i></p></td>    
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </header>
    <main>
        <div id="experience" class="section">
            <h2 class="title animation-wait">Experiences</h2>
            <p class="description fade-in-bottom05 animation-wait">経歴</p>
            <div class="grid">
                {% for experience in experiences %}
                    <div class="item-box fade-in-bottom05 experience-div animation-wait">
                        <p class="date">{{ experience.date }}</p>
                        <p class="detail break-span"><span>{{ experience.title }}</span></p>
                    </div>
                {% endfor %}
            </div>
            <p class="readmore fade-in-bottom05 experience-div animation-wait"><a href="{% url "somando:experiences" %}">Read More ></a></p>
        </div>
        <div id="product" class="section">
            <h2 class="title animation-wait">Products</h2>
            <p class="description fade-in-bottom05 animation-wait">開発プロダクト</p>
            <div class="grid">
                {% for product in products %}
                    <div class="item-box fade-in-bottom05 product-div animation-wait">
                        <div class="image"><a href="{% url "somando:product" product.url %}"><img src="{{ product.image }}" /></a></div>
                        <p class="detail break-span"><a href="{% url "somando:product" product.url %}"><span>{{ product.title }}</span></a></p>
                        <p class="event break-span"><span>{{ product.event }}</span>{% if product.team %} / <span>{{ product.team }}</span>{% endif %}</p>
                        {% if product.prize %}
                            <p class="prize break-span"><span>{{ product.prize }}</span></p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <p class="readmore fade-in-bottom05 product-div animation-wait"><a href="{% url "somando:products" %}">Read More ></a></p>
        </div>
        <div id="skill" class="section">
            <h2 class="title animation-wait">Skills</h2>
            <p class="description fade-in-bottom05 animation-wait">技術スタック</p>
            <div class="skills">
                {% for skill in skills %}
                    <div class="skill-item fade-in-bottom05 skill-div animation-wait">
                        <div class="light"><img src="https://skillicons.dev/icons?i={{ skill.icon_id }}&theme=light"></div>
                        <div class="dark"><img src="https://skillicons.dev/icons?i={{ skill.icon_id }}&theme=dark"></div>
                        <p>{{ skill.title }}</p>
                    </div>
                {% endfor %}
            </div>
            {% comment %} <p class="readmore fade-in-bottom05 skill-div animation-wait"><a href="">Read More ></a></p> {% endcomment %}
        </div>
    </main>
    <script src="{% static "somando/fadein.js" %}"></script>
    <script>
        delay_set("profile-line", 2.8);
        delay_set("experience-div", 0.6, 0.2);
        delay_set("product-div", 0.6, 0.2);
        delay_set("skill-div", 0.6, 0.1);
    </script>
{% endautoescape %}
{% endblock content %}
